body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: #2c3e50;
}

h2, h3 {
    color: #34495e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    text-decoration: underline;
}
